<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
</head>
<body>
<h1>Este es el inicio</h1>
<br>
<ul>
    <li>
        <a href="/crear_persona">crear</a>
    </li>
    <li>
        <a href="/listar_persona">listar</a>
    </li>
    <li>
        <a href="/editar_persona">crear</a>
    </li>
    <li>
        <a href="/eliminar_persona">listar</a>
    </li>
</ul>
</body>
</html>
